.font-inter{
    font-family: "Inter", sans-serif;
}
.font-raleway{
    font-family: "Raleway", sans-serif;
}

.seat-numbers{
    display:  flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 10px;
}

.seat-numbers li{
    display:  flex;
    justify-content: space-around;
}