.font-inter{
    font-family: "Inter", sans-serif;
}
.font-raleway{
    font-family: "Raleway", sans-serif;
}

.seat-numbers{
    display:  flex;
    gap: 15px;
    padding-bottom: 10px;
    justify-content: space-around;
}